@import '../../assets/styles/variables/colors/index.scss';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: $white;

  &__logo {
    margin: 20px auto;
    object-fit: contain;
    width: 100px;
  }

  &__container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid $gray2;
    padding: 20px;

    > p {
      margin-top: 15px;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__title {
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__formTitle {
    margin-bottom: 5px;
  }

  &__input {
    height: 30px;
    margin-bottom: 10px;
    width: 100%;
    background-color: $white;
    padding: 0 5px;
  }

  &__signInButton {
    width: 100%;
  }

  &__registerButton {
    width: 100%;
    margin-top: 10px;
    background: $gray1;
  }
}
