@import '../../../assets/styles/variables/colors/index.scss';

.order {
  padding: 40px;
  margin: 20px 0;
  background: $white;
  position: relative;
  border: 1px solid lightgray;

  &__id {
    position: absolute;
    top: 40px;
    right: 20px;
  }

  &__total {
    font-weight: 700;
    text-align: right;
  }
}
