@import '../../assets/styles/variables/colors/index.scss';

.button {
  transition: all 0.2s;
  padding: 0 5px;
  height: 30px;
  background: $buttonYellow;
  border: 1px solid;
  color: $black;
  border-color: $orange1 $orange2 $orange3;
  cursor: pointer;

  &:hover {
    background: $buttonHover;
  }

  &:disabled {
    background-color: $gray3;
    pointer-events: none;
  }
}
